public/

**/company/cross-border/*
**/company/database/*
**/company/infrastructure/curl*
**/company/domain
**/company/ncs-rank/data-analysis/*
**/company/extension/*
**/company/**/fcm*
**/company/data-warehouse/*
**/company/**/ai-service/*

**/ai-service/company/*
**/data-warehouse/OLAP/1.snowflake.md

**/_roadmap/*